.container {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
}

.list {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	box-sizing: border-box;
	overflow-y: auto;
  padding-right: 8px;
  flex: 1;
  min-height: 0;
}

.item {
	width: 100%;
	margin: 0;
	padding: 24px 36px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 40px;
	background-color: var(--main-white-color);
	border-radius: 12px;
}

.data {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.top {
	margin: 0;
	padding: 0 0 12px 0;
	border-bottom: 1px solid var(--main-grey-light-color);
	width: 100%;
	display: flex;
}

.bottom {
	margin: 0;
	padding: 12px 0 0 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.field {
	margin: 0;
	width: 100%;
	max-width: 280px;
	display: flex;
	&_direction_column {
		flex-direction: column;
		gap: 8px;
	}
	&_width_full {
		max-width: none;
	}
	&__caption {
		margin: 0;
		font-size: 12px;
		line-height: 1;
		font-style: normal;
		font-weight: normal;
		color: var(--main-grey-color);
	}
	&__text {
		margin: 0;
		font-size: 14px;
		line-height: 18px;
		font-style: normal;
		font-weight: normal;
		color: var(--main-black-color);
	}
}

.name {
	margin: 0;
	font-size: 16px;
	line-height: 20px;
	font-style: normal;
	font-weight: bold;
	color: var(--main-black-color);
}

.buttons {
	margin: auto 0 0 0;
	width: 260px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 8px;
	flex-shrink: 0;
}

.form {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
