.container {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 9999;
}

.toast {
	width: 380px;
  padding: 26px;
	box-sizing: border-box;
  border-radius: var(--border-radius);
  display: flex;
  gap: 8px;
  animation: slideIn .25s ease forwards;
  background: var(--main-white-color);
	position: relative;

  &_type_success { border: 1px solid var(--accent-green-color); }
  &_type_error   { border: 1px solid var(--accent-red-color); }
  &_type_warning { border: 1px solid var(--accent-yellow-color);}
  &_type_info    { border: 1px solid var(--main-blue-color); }
}

.close {
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 8px;
	right: 8px;
	background-image: url('../../../../shared/images/icons/close.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: inherit;
	outline: none;
	border: none;
	transition: all 0.3s ease-in-out;
}

.close:hover {
	cursor: pointer;
	opacity: 0.7;
}

.icon {
	margin: 0;
	width: 18px;
	height: 18px;
}

.toast_type_success .icon {
	background-image: url('../../../images/icons/buttons/check-green.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.toast_type_warning .icon {
	background-image: url('../../../images/icons/buttons/warning-yellow.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.toast_type_info .icon {
	background-image: url('../../../images/icons/buttons/info-blue.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.toast_type_error .icon {
	background-image: url('../../../images/icons/buttons/close-red.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.content {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.title {
	margin: 0;
  font-weight: bold;
  font-size: 14px;
	line-height: 18px;
	color: var(--main-black-color);
}

.text {
	margin: 0;
  font-weight: normal;
  font-size: 12px;
	line-height: 14px;
	color: var(--main-black-color);
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px) translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
