@keyframes infoFade {
	from {
		opacity: 0;
		transform: translateX(10px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.container {
	margin: 4px 0 0 0;
	width: 100%;
	padding: 0 0 16px 0;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
}

.header {
	margin: 0 0 4px 0;
	display: flex;
	align-items: center;
}

.title {
	margin: 0 8px 0 0;
	color: var(--main-black-color);
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}

.icon_wrapper {
	position: relative;
	display: inline-flex;
	align-items: flex-start;
}

.icon {
	margin: 0;
	width: 20px;
	height: 20px;
	background-image: url('../../../../images/icons/info.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity .3s ease-in-out;

	&:hover {
		background-image: url('../../../../images/icons/info-active.svg');
	}
}

.info {
	position: absolute;
	top: 0;
	left: calc(100% + 8px);

	padding: 16px;
	box-sizing: border-box;

	display: block;
	width: max-content;     /* растягивается по содержимому */
	max-width: 400px;       /* но НЕ шире 400px */
	overflow-wrap: break-word;

	background-color: var(--main-blue-background-color);
	border: 1px solid var(--main-blue-color);
	border-radius: var(--border-radius);

	z-index: 2000;

	opacity: 0;
	pointer-events: none;

	transition: opacity 0.25s ease;
}

.icon_wrapper:hover .info {
	opacity: 1;
	animation: infoFade 0.25s ease forwards;
	pointer-events: auto;
}

.info__text {
	margin: 0;
	color: var(--main-black-color);
	font-size: 14px;
	line-height: 18px;
}
