.description {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: var(--main-black-color);
}

.list {
	margin: 12px 0 0 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
