.container {
	margin: 0;
	width: 256px;
	max-height: calc(100vh - 24px);
  min-height: calc(100vh - 24px);
	padding: 24px 32px;
	background: var(--main-white-color);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name {
	margin: 12px 0 0 0;
	font-size: 18px;
	line-height: 24px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
	color: var(--main-black-color);
}

.role {
	margin: 4px 0 0 0;
	font-size: 16px;
	line-height: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
	color: var(--main-black-color);
}

.nav {
  margin: 40px 0 12px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
}

.link {
  margin: 0 0 12px 0;
	width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: var(--border-radius);
	transition: all .3s ease-in-out;
	&_active {
		user-select: none;
		pointer-events: none;
	}
	&:hover {
		cursor: pointer;
	}
	&_type_logout {
		margin: auto 0 0 0;
		outline: none;
		background: initial;
		border: none;
		padding: 0;
	}
}

.icon {
  width: 24px;
  height: 24px;
	&__container {
		width: 40px;
		height: 40px;
		margin: 0 8px 0 0;
		border-radius: var(--border-radius);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__text {
		margin: 0;
		font-size: 14px;
		line-height: 18px;
		font-style: normal;
		font-weight: bold;
		text-align: center;
		color: var(--main-grey-color);
	}
	&_type_home {
		background-image: url('../../../shared/images/icons/menu/home.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&_type_apps {
		background-image: url('../../../shared/images/icons/menu/apps.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&_type_app-add {
		background-image: url('../../../shared/images/icons/menu/app-add.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&_type_logout {
		background-image: url('../../../shared/images/icons/menu/logout.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.link:hover {
  background: var(--accent-blue-light-color);
}

.link_active {
  background: var(--main-blue-color);
}

.link_active .icon__text {
  color: var(--main-white-color);
}

.link_active .icon_type_home {
	background-image: url('../../../shared/images/icons/menu/home-white.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.link_active .icon_type_apps {
	background-image: url('../../../shared/images/icons/menu/apps-white.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.link_active .icon_type_app-add {
	background-image: url('../../../shared/images/icons/menu/app-add-white.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
