.container {
	margin: 0;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	gap: 4px;
	width: 100%;
	&_width {
		&_small {
			max-width: 320px;
		}
		&_medium {
			max-width: 480px;
		}
		&_large {
			max-width: 720px;
		}
	}
}

.title {
	margin: 0 0 20px 0;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 900;
	line-height: 24px;
	color: var(--main-black-color);
	&_align_left {
		text-align: left;
	}
	&_align_center {
		text-align: center;
	}
}
